:root {
    --primary-color: #9797C6;     /*2-d background, titles text*/
    --secondary-color: #9898C6;     /*color for text*/
    --tertiary-color: #616194;      /*for TESTYMONIALS cards color*/
    --quaternary-color: #FFFFFF;    /*2-d titles text*/
    --quinary-color: #F8F8FF;       /*background for contact us*/
    

    --form-color: #CECEF9;

    --main-background-color: #FFFFFF;

    --headers-font-size: 64px;
    --headers-line-height: 80px;
    
    --max-width: 1920px;

    --border-radius: 20px;
}

    /*
    --gray: #928CAB;
    --gray-light: #D4CDEF;

    --header-line-color: #F4F5F4;

    
    --border-radius: 8px;
    --section-border-radius: 250px;
    --max-width: 1920px;
    --primary-space: 20px;
    --secondary-space: 12px;

}
*/