:root {
  --primary-color: #9797c6; /*2-d background, titles text*/
  --secondary-color: #9898c6; /*color for text*/
  --tertiary-color: #616194; /*for TESTYMONIALS cards color*/
  --quaternary-color: #ffffff; /*2-d titles text*/
  --quinary-color: #f8f8ff; /*background for contact us*/

  --form-color: #cecef9;

  --main-background-color: #ffffff;

  --headers-font-size: 64px;
  --headers-line-height: 80px;

  --max-width: 1920px;

  --border-radius: 20px;
}
