@import "variables";
@import "mixins";

/*General styles*/
html {
  margin: 0;
  width: 100%;
}
body {
  font-family: "TT Hoves";
  margin: 0;
  position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
}
h1 {
  font-size: var(--headers-font-size);
  margin: 0;
  line-height: var(--headers-line-height);
  font-weight: 900;
}
h2 {
  color: var(--tertiary-color);
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
}

.heading-wrapper {
  margin: 0 auto;
  width: 100%;
}

/* Page styles */
.heading-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include maxBlockWidth();
  background-color: var(--main-background-color);
  background-image: url("../assets/Union top.png"),
    url("../assets/Union bottom.png");
  background-position: top center, bottom -325px center;
  background-repeat: no-repeat, no-repeat;
  height: 1000px;

  .social-media {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    @include maxBlockWidth();
    & img {
      align-items: baseline;
    }
  }
  .social-media > ul {
    @include navigation();
    gap: 30px;
    margin-top: 30px;
    align-items: center;
    height: 24px;
  }

  .title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 96px;
    height: 486px;
    width: 1081px;

    .logo {
      display: flex;
      align-items: center;
      font-style: normal;
      font-weight: 900;
      font-size: 390px; /*Font size 390px*/
      color: var(--quaternary-color);
      text-shadow: 0px 45px 49px rgba(140, 138, 198, 0.25);

      @media screen and (max-width: 1290px) {
          font-size: 290px;
          text-align: center;
          display: flex;
          flex-direction: column;
        }

      @media screen and (max-width: 1090px) {
        font-size: 190px;
        text-align: center;
        display: flex;
        flex-direction: column;
      }

      @include maxBlockWidth();
      margin: 0;
      & p {
        margin: -30px 0 0 0;
      }
    }

    .slogan {
      & p {
        font-size: 14px;
        line-height: 17px;
        font-weight: 500;
        color: var(--secondary-color);
        display: flex;
        justify-content: center;
        margin: 0;
      }
    }
  }
}

.scroll {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 40px 0 0 0;
  max-width: 1920px;
  align-items: center;

  .scroll-service {
    display: flex;
    flex-direction: row;
    margin-top: 20px;

    & p {
      display: flex;
      flex-direction: row;
      margin: 0;
      font-size: 10px;
      line-height: 12px;
      font-weight: 500;
      align-items: center;
      color: var(--secondary-color);
    }
    .mouse {
      display: flex;
      flex-direction: row;
      margin-right: 10px;
    }
  }
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include maxBlockWidth();
  background-color: var(--primary-color);
  height: 100%;
  width: 100%;
  padding-bottom: 100px;

  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include maxBlockWidth();
    gap: 70px;
    margin-top: 63px;
    margin-bottom: 100px;
    width: 100%;

    & h1 {
      color: var(--quaternary-color);
    }
    .services-cards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 50px;
      margin: 0 22em 0 22em;

    /*.services-cards {
      display: grid;
      grid-template-areas: "Handymancard Plumbercard Bike-Repaircard Cleaningcard" 
      "Movingcard Lawncarecard Trash-Haulingcard Anycard";
      justify-content: left;
      gap: 52px;
      align-content: center;
      */

      .Handyman {
        background: url("../assets/Handyman.png") no-repeat center;
        @include cards();

        & p {
          @include cardsName;
        }
      }
      .Plumber {
        background: url("../assets/Plumbers.png") no-repeat center;
        @include cards();

        & p {
          @include cardsName;
        }
      }
      .Bike-Repair {
        background: url("../assets/Bike Repair.png") no-repeat center;
        @include cards();

        & p {
          @include cardsName();
        }
      }
      .Cleaning {
        background: url("../assets/Cleaning.png") no-repeat center;
        @include cards();

        & p {
          @include cardsName();
        }
      }
      .Moving {
        background: url("../assets/Movers.png") no-repeat center;
        @include cards();

        & p {
          @include cardsName();
        }
      }
      .Lawncare {
        background: url("../assets/Lawncare.png") no-repeat center;
        @include cards();

        & p {
          @include cardsName();
        }
      }
      .Trash-Hauling {
        background: url("../assets/Trash Hauling.png") no-repeat center;
        @include cards();

        & p {
          @include cardsName();
        }
      }
      .Any {
        @include cards();

        & p {
          @include cardsName();
        }
      }
    }
  }
  .anyServices {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include maxBlockWidth();
    gap: 70px;
    margin: 0;
    width: 100%;

    & h1 {
      color: var(--quaternary-color);
    }
    .services-cards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0 22em 0 22em;
      gap: 50px;

      .LK {
        background: url("../assets/LK.jpg") no-repeat center;
        @include cards();

        & p {
          @include cardsName;
        }
        /*:hover {
          border-color: black;
          text-decoration: underline;
        }*/
      }
      .UBN {
        background: url("../assets/UBN.png") no-repeat center;
        @include cards();

        & p {
          @include cardsName;
        }
      }
      .Moving {
        @include cards();

        & p {
          @include cardsName();
        }
      }
      .Moving {
        @include cards();

        & p {
          @include cardsName();
        }
      }
    }
  }
}
.minor {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-background-color);
  gap: 50px;
  @include maxBlockWidth();
  margin-bottom: 50px;
  width: 100%;

  .Testymonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 100px;
    width: 100%;

    & h1 {
      color: var(--primary-color);
      font-size: var(--headers-font-size);
    }

    .cards_comments {
      display: flex;
      flex-direction: row;
      align-content: center;
      flex-wrap: wrap;
      @include maxBlockWidth();
      margin: 0 22em 0 22em;

      .card_1 {
        @include comments_card();

        .username_1 {
          h2 {
            margin: 20px 0 0 50px;
          }
        }
        .comment_1 {
          margin: 0;

          & p {
            color: #333333;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            margin: 10px 50px 20px 50px;
          }
        }
        .rating_1 {
          @include rating;
        }
      }

      .card_2 {
        @include comments_card();

        .username_2 {
          h2 {
            margin: 20px 0 0 50px;
          }
        }
        .comment_2 {
          margin: 0;

          & p {
            color: #333333;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            margin: 10px 50px 20px 50px;
          }
        }
        .rating_2 {
          @include rating;
        }
      }

      .card_3 {
        @include comments_card();

        .username_3 {
          h2 {
            margin: 20px 0 0 50px;
          }
        }
        .comment_3 {
          margin: 0;

          & p {
            color: #333333;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            margin: 10px 50px 20px 50px;
          }
        }
        .rating_3 {
          @include rating;
        }
      }

      .card_4 {
        @include comments_card();

        .username_4 {
          h2 {
            margin: 20px 0 0 50px;
          }
        }
        .comment_4 {
          margin: 0;

          & p {
            color: #333333;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            margin: 10px 50px 20px 50px;
          }
        }
        .rating_4 {
          @include rating;
        }
      }
    }
  }
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include maxBlockWidth();
  background-color: var(--quinary-color);
  height: 554px;

  .footer_title {
    & h1 {
      color: var(--primary-color);
      font-size: var(--headers-font-size);
      margin: 50px 0 108px 0;
    }
  }
  .all_contact {
    display: flex;
    width: 100%;
    margin: 0;
    align-items: baseline;
    flex-direction: row;
    justify-content: center;

    .contact-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 100px;

      input[type="text"] {
        @include fieldInForm();
      }
      ::placeholder {
        @include fieldInForm_ph();
      }

      input[type="email"] {
        @include fieldInForm();
        input:invalid {
          border: 1px solid #ED0131;
      }
      }
      ::placeholder {
        @include fieldInForm_ph();
      }

      input[type="tel"] {
        @include fieldInForm();
      }
      ::placeholder {
        @include fieldInForm_ph();
      }
      input[type="submit"] {
        @include button();
      }
      input:focus, {
    outline: 1px solid #0048D9;
}
    }
    .our__contact {
      display: flex;
      flex-direction: column;
      align-items: left;

      .our_email {
        background: url("../assets/ic_round-mail.png") no-repeat;
        display: flex;
        flex-direction: row;
        margin: 0 0 30px 0;
        height: 24px;

        & p {
          margin: 0 0 0 50px;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          color: #333333;
          display: flex;
          flex-direction: row;
          align-self: center;
        }
      }
      .our_phone {
        background: url("../assets/ic_round-call.png") no-repeat center left;
        display: flex;
        flex-direction: row;
        height: 24px;
        margin: 0 0 30px 0;

        & p {
          margin: 0 0 0 50px;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          color: #333333;
          display: flex;
          flex-direction: row;
          align-self: center;
        }
      }
      .our_addres {
        background: url("../assets/ic_round-location-on.png") no-repeat center
          left;
        display: flex;
        flex-direction: row;
        margin: 0 0 30px 0;
        height: 24px;
        & p {
          margin: 0 0 0 50px;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          color: #333333;
          display: flex;
          flex-direction: row;
          align-self: center;
        }
      }
    }
  }
}

.footer_end {
  background-color: #454557;
  @include maxBlockWidth();
  height: 117px;
}
